


:root{
    --body-color: #060C1F;
    --active-color: #80397B;
    --active-two: rgba(128, 57, 123, 0.7);
    --theme-one: #9E71A2;
    --theme-two: #5E005E;
    --button-one: #80397B;
    --button-two: #5E005E;
    --header: #202A39;
    --subheader: #161F2C;
    --startable: #5E005E;
    --white: #F2F2FC;
    --black: #000;
    --social-box: #80397B;
    --slidebox: #141C33;
    --textcolor: #CDC1D5;
    --pointbox: #283352;
    --betslip: #9E71A2;
    --multiborder: #9E71A2;
    --signbet: #20283F;
    --signborder: #80397B;
    --leftpreborder: #4C546A;
    --preactive: #80397B;
    --place: #CDC1D5;
    --paycheck: #5E005E;
}
